body {
  margin: 0;
  font-family: "Bungee", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Bungee", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}